[submodule "SmartSpeaker"]
	path = SmartSpeaker
	url = https://github.com/VictorAlicino/SmartSpeaker
[submodule "SmartLights"]
	path = SmartLights
	url = https://github.com/VictorAlicino/SmartLights
[submodule "SmartBlinds"]
	path = SmartBlinds
	url = https://github.com/VictorAlicino/SmartBlinds
[submodule "WebRadio"]
	path = WebRadio
	url = https://www.github.com/VictorAlicino/WebRadio.git
